{% extends 'layouts.html' %}
{% block body %}
<h1 class="display-4">EDIT PAGE</h1>
<p class="lead">This Application is build using by python and Flask Framework</p>
<hr class="my-4">

<form action="/{{article[0]}}/edit" method="POST" onsubmit="return confirm('정말 수정 하시겠습니까?')">

    <div class="form-group">
        <label>TITLE</label>
        <input class="form-control" type="text" name='title' value="{{article[1]}}" placeholder="input your title" required>
    </div>


    <div class="form-group">
        <label>DESCRIPTON</label>
            <textarea class="form-control" name="desc"  required>{{article[2]}}</textarea>
    </div>
    

    <div class="form-group">
        <label>AUHOR</label>
        <input class="form-control" type="text" name="author" value="{{article[3]}}" placeholder="input your name" >
    </div>


    <div class="form-group">
        <input class="btn btn-warning btn-lg btn-block" type="submit" value="수정하기" >
    </div>

    
</form>

<div class="form-group">
    <a class="btn btn-primary btn-lg btn-block" href="/articles"> 돌아가기</a>       
</div>


{% endblock %}