{% extends "layouts.html"%}
<!-- 진자 엔진의 import방법 = extends -->
{% block body %}
<h1 class="display-4">LOGIN PAGE</h1>
<form action="/login" method="post">
    ​<div class="form-group">
        <label>email</label>
        <input type="email" name="email" class="form-control" placeholder="email">
    </div>
    <div class="form-group">
        <label>password</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <input class="btn btn-dark btn-dark" value="Login" href="/login" type="submit">
    <a class="btn btn-warning btn-dark" href="/register" role="button">회원가입</a>
</form>

<p class="lead">This Application is build using by python and Flask Framework</p>
<hr class="my-4">
{% endblock %}